body {
    background-color:antiquewhite
    /* or background-color:rgb(250,235,215) */

}

.title {
    color: #6568cf;
    /* ;
    or we can use color:rgb(101,104,207); */
}

.subtitle {
    color: black;
}
#contact-us {
    color: brown;

}

h2:hover {
    color: cadetblue;
}

li:first-child {
    color:rgb(135, 126, 145)
}

li:last-child {
    color:rgb(61, 38, 90)
}

li:nth-child(2) {
    color: chocolate;
}

td:only-child {
    color: blueviolet;
}

/* #goggle-link:link {
    color: black;
} 

#goggle-link:visited {
    color: red;
}  */

h2+a {
    color: blue;

}

label ~ button {
    color: blueviolet;
}

.img {
    width: 300px;
    height: 300px;px;
    border: 6px solid rgb(135, 126, 145);
    padding: 40px;
    transition: 0.6s all;
}

img:hover {
    height: 250px;
    width: 500px;
}


.sidebar {
    animation-name: fade-in;
    animation-duration: 2s;

}

p {
    font-family: 'lato', sans-serif;
}
li {
    font-family: 'Lato', sans-serif;
}
a {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
.sidebar {
    background: rgb(255, 227, 191);
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-grid > img {
    margin: 10px;
}

#image-1 {
    float: right;
    margin: 10px;
    height: 400px;
}

.container {
    background-color: blueviolet;
    margin: 10px;
    display:flex
}

.container-item {
    background: rgb(11, 68, 112);
    color: aqua;
    font-size: 30px;
    text-align: center;
    width: 50px;
    line-height: 40px;
    margin: 10px;
}



